img{
    width: 27%;
    float: middle;
    margin: 0.5%;
    align-self: center;

}
p{
    font-family: 'Pacifico', cursive;
    margin-left: 5%;
    font-size :25px;
    text-decoration-color: yellow;
}
body{
    background:#2C3335;
}
